.ts-PageHeader {
  $module: &;
  $logo-height: 50px;
  $sm-up-logo-height: 50px;
  $big-height: 160px;
  $sm-up-height: 70px;
  $height: 66px;
  $secondary-brand-font-size: 27px;

  @include clearfix;

  background: palette(background, light);
  clear: both;
  flex: none;
  height: $height;
  padding: 7px 0 0;
  max-width: 100vw;
  z-index: 100;


  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 37px 0 rgba(0, 0, 0, .05);
  position: relative;
  margin-bottom: 20px;

  @include xsm-up() {
    height: $sm-up-height;
  }

  &__text {
    margin: 0 auto;
    font-size: 22px;
    color: palette(text, gray-medium);
  }

  &__home-button {
    left: 26px;
    position: absolute;
  }
}
