.ts-TableOfContents {
  $module: &;

  &__item {
    padding-left: 7px;
  }

  &__item-button {
    display: inline;
    line-height: 1.43;
    text-align: left;
    text-transform: none;
  }

  &__list {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    padding-left: 25px;
  }

  &__title {
    color: palette(text, dark);
    font-family: font(slab);
    font-size: 14px;
    line-height: 2.29;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}
