.ts-H1 {
  $module: &;

  color: #40435b;
  font-family: font(slab);
  font-size: 28px;
  font-weight: 300;
  line-height: 1.26;
  margin: 0 0 40px;
  text-align: left;

  @include sm-up {
    font-size: 32px;
    margin: 0 0 60px;
  }

  @include lg-up {
    font-size: 46px;
  }

  &__sup {
    color: #d7d7d7;
    font-family: font(sans);
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 6px;
    margin: 0 0 25px;
    text-transform: uppercase;

    @include sm-up {
      margin: 0 0 45px;
    }
  }
}
